@charset "UTF-8";

ol {
   color: blue;
}

ol > h2 {
   font-size: 1.3em;
   text-align: center;
}

li {
   padding: 10px;
   margin-left: 10px;
   list-style-position: inside;
   font-size: 1.2em;
   text-align: center;
}

li a {
   text-decoration: none;
   color: blue;
   font-weight: normal;
   transition-duration: 0.4s;
}

li a:hover {
   background-color: rgba(0, 0, 255, 0.705);
   color: white;
}

.counter {
   padding-top: 70px;
   text-align: center;
}

footer {
   background-image: linear-gradient(to right, #222831, rgba(128, 128, 128, 0.842), #222831);
   color: white;
   text-align: center;
   font-size: 0.9em;
   padding: 3px;
}