@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   padding: 0px;
   margin: 0px;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

article {
   font-size: 1.2em;
}

article p {
   margin-bottom: 8px;
   text-align: justify;
   background-color: rgb(208, 208, 208);
   border-radius: 4px;
}

div .container {
   max-width: 1200px;
   margin: 0 auto;
}

img {
   width: 100%;
   border-radius: 6px;
   border: 1px solid black;
   margin: 10px 0px 20px 0px;
}

figure { 
   width: 100%; 
   min-width: 320px; 
   margin: 0 auto;
}

figcaption { 
   font: 120% sans-serif; 
   text-align: center;
}

video {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.container { 
   margin-top: 50px;
   margin-bottom: 10px;
   text-align: center;
}

.container a {
   padding: 8px;
   background-color: #045DA0;
   color: #fff;
   border-radius: 5px;
   text-decoration: none;
   font-size: 14pt;
}

#btn-top {
   position: fixed;
   bottom: 38px;
   right: 20px;
   width: 40px;
   height: 40px;
   background-color: rgba(218, 87, 0, 0.973);
   border: 1px solid rgba(0, 0, 0, 0.336);
   border-radius: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   animation: seta_topo 1s linear infinite;
}

#btn-top:hover {
   background-color: rgb(255, 102, 0);
}

.arrow {
   border: solid #fff;
   border-width: 0 6px 6px 0;
   padding: 5px;
   display: inline-block;
}

.up {
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}

@keyframes seta_topo {
   from {transform: translateY(10px);}
   50% {transform: translateY(0);}
   to {transform: translateY(10px);}
}